# Database Configuration
DATABASE__HOST=localhost
DATABASE__PORT=5432
DATABASE__NAME=stocks_advisor_db
DATABASE__USER=stocks_advisor_app_user
DATABASE__PASSWORD=stocks_advisor_app_password

# JWT auth
JWT__ADMIN_USERNAME=admin
JWT__ADMIN_PASSWORD_HASH=$argon2id$v=19$m=65536,t=3,p=4$7BrYjo6KfyV7PktnKcXiag$7jcl43B7jU3ZDRUbOmQRz5i6z/wbt3XoLE0plXU1QrU  # admin
JWT__ACCESS_TOKEN_EXPIRE_MINUTES=30