# Database Configuration
DATABASE__HOST=localhost
DATABASE__PORT=5432
DATABASE__NAME=stocks_advisor_db
DATABASE__USER=user
DATABASE__PASSWORD=password

# JWT auth
JWT__ADMIN_USERNAME=
JWT__ADMIN_PASSWORD_HASH=
JWT__ACCESS_TOKEN_EXPIRE_MINUTES=30