# PostgreSQL
MLFLOW_DB_HOST=10.0.0.10
MLFLOW_DB_PORT=5432
MLFLOW_DB_NAME=mlflow
MLFLOW_DB_USER=mlflow_user
MLFLOW_DB_PASSWORD=change-me
MLFLOW_BACKEND_STORE_URI=postgresql://mlflow_user:change-me@10.0.0.10:5432/mlflow

# MinIO
MINIO_ROOT_USER=change-me-minio-user
MINIO_ROOT_PASSWORD=change-me-minio-password
MLFLOW_S3_BUCKET=mlflow-bucket
MINIO_DATA_DIR=./data/minio_data_production

# Ports
MLFLOW_HOST_PORT=5050
MINIO_API_HOST_PORT=9000
MINIO_CONSOLE_HOST_PORT=9001

AWS_DEFAULT_REGION=us-east-1

# Secret key
MLFLOW_FLASK_SERVER_SECRET_KEY=generate-a-long-random-string
